a	{
	color: #c9b793;
	}
a:active, a:visited	{
	color: #ccbb97;
	}
body {
    background-color: #1E1E1E;
	margin: 4em;
	color: #DAD9C2;
	font-family: verdana, helvetica, sans-serif;
	}
dd {
	display: list-item;
	list-style-type: square;
	}
h1	{
	color: #c1ac85;
	font-size: 1.5em;
	}
h2	{
	color: #c1ac85;
	font-size: 1.1em;
	}
h3	{
	color: #c1ac85;
	margin-left: 40pt;
	}
p	{
	font-size: 1em;
	}
#resources {
	float: right;
}
